# Server Config
PORT=6080
GIN_MODE=release
JWT_SECRET=ocean-basketball-secret-jwt-key-2026

# PostgreSQL Database (Railway)
DB_DRIVER=postgres
DATABASE_PUBLIC_URL=postgresql://postgres:cmOgdwmGEIcQmtOMCizAQynpvjiewhes@altaria.proxy.rlwy.net:27359/railway
DATABASE_URL=postgresql://postgres:cmOgdwmGEIcQmtOMCizAQynpvjiewhes@altaria.proxy.rlwy.net:27359/railway
